.education-lic {
    margin-bottom: 39px;
    &__item {
        border-top: 1px solid #f0f4fb;
        border-left: 1px solid #f0f4fb;
        border-right: 1px solid #f0f4fb;
        height: 335px;
        background: url(../images/icons/blue-drops.svg) 43px 29px no-repeat, white;
        color: #4639ae;
        padding: 40px 47px 40px 40px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        cursor: pointer;
        &:hover {
            background: url(../images/icons/drops.svg) 43px 29px no-repeat #fb3d4e;
            flex-direction: column;
            align-items: inherit;
            color: white;
            &--subtract {
                display: block;
                position: absolute;
                bottom: 33px;
            }
            .education-lic__info--data {
                color: white;
                &::before {
                    content: url("../../images/icons/data-ed-white.svg");
                    margin-right: 16px;
                }
            }
            .education-lic__info {
                padding-top: 20px;
                padding-bottom: 66px;
                &--text {
                    padding-bottom: 42px;
                }
            }
        }
    }
    &__info {
        &--title {
            font-family: Noto Sans Display;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 150%;
            text-transform: uppercase;
            margin-bottom: 11px;
        }
        &--text {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 150%;
            padding-bottom: 28px;
        }
        &--data {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: #8aa5c6;
            &::before {
                content: url("../../images/icons/data-ed-rgin.svg");
                margin-right: 16px;
            }
        }
    }
}