.news {
    font-family: "Noto Sans Display";
    background: #dfdfdf;
    padding-bottom: 56px;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #244873;
        text-transform: uppercase;
        margin-bottom: 30px;
        &--text {
            font-family: "Noto Sans Display";
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
        }
    }
    &__title-all {
        justify-content: inherit;
        align-items: inherit;
    }
    &__content {
        grid-column: 1/13;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__slider {
        width: 100%;
        background: #fff;
    }
    &__list {
        grid-column: 1/13;
        display: flex;
    }
    &__item {
        padding: 20px;
        padding-bottom: 51px;
        width: 100%;
        border: 1px solid #f0f4fb;
    }
    &__photo {
        width: 100%;
        position: relative;
        &--pic {
            width: 100%;
        }
    }
    &__data {
        position: absolute;
        top: 85%;
        left: 0%;
        background: white;
        text-align: center;
        &--text {
            font-family: Noto Sans Display;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            color: #00c38d;
            padding: 15px 38px 1px 20px;
        }
    }
    &__text {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #244873;
    }
    &__buttons {
        grid-column: 1/13;
        display: flex;
        justify-content: space-between;
        background: #fff;
    }
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 39px;
}

.arrow-left {
    transform: rotate(-180deg);
}