.academy {
    padding-bottom: 56px;
}

.academy__content {
    display: block;
    background: url(../images/content/academy.jpg) center right / 50% calc(100% - 80px) no-repeat;
}

.academy__title {
    grid-column: 1/13;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #244873;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: "Noto Sans Display";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
}

.academy .academy__item {
    height: 260px;
    background: url(../images/icons/drops.svg) 40px 40px no-repeat, #4639ae;
    color: #fff;
    padding: 40px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.academy__list {
    -ms-align-items: end;
    align-items: end;
}

.academy .academy__item+.academy__item {
    border-left: 1px #5144b9 solid;
}

.academy__list+.academy__list .academy__item {
    border-top: 1px #5144b9 solid;
}

.academy__item {
    position: relative;
    &:hover {
        background: url(../images/icons/drops.svg) 40px 40px no-repeat #fb3d4e;
        flex-direction: column;
        align-items: inherit;
        .title-menu__text {
            padding-top: 27px;
        }
        .title-menu__subtract {
            display: block;
            position: absolute;
            bottom: 33px;
        }
    }
}

.drops {
    position: absolute;
}

.title-menu {
    display: flex;
    align-items: flex-end;
    position: relative;
    &__text {
        font-family: Noto Sans Display;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        text-transform: uppercase;
    }
    &__subtract {
        display: none;
    }
}