html {
    font-size: 15px;
}

body,
html {
    height: 100%;
}

body {
    font-family: "Noto Sans Display", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
}

section {
    background: #dfdfdf;
}

button {
    border: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

button[type="button"] {
    cursor: pointer;
    background-color: transparent;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
    background: #dfdfdf;
}

.container {
    margin: 0 auto;
    max-width: 1360px;
    padding: 0px 20px;
    display: block;
}

.maincontent {
    height: 100%;
    background: #dfdfdf;
    position: relative;
}

.row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.row--two {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.row--double {
    -ms-grid-columns: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.row--triple {
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.row--quart {
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    &__custom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &__custom2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.btn {
    &__min {
        padding: 24px 40px 23px 40px;
    }
    &__news {
        padding: 20px 26px 15px 29px;
        margin: 20px 7px 34px 51px;
    }
    padding: 24px 55px 23px 55px;
    color: white;
    font-family: Noto Sans Display;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #00c38d;
}

.about__container {
    display: flex;
}

.active-text {
    color: #fb3d4e;
}

.all-title {
    &__title {
        font-family: Noto Sans Display;
        font-style: normal;
        font-weight: 900;
        border-bottom: 1px solid #f0f4fb;
        margin-bottom: 39px;
        padding-bottom: 38px;
        &--custom {
            padding-bottom: 50px;
            background: white;
        }
        &--custom-news {
            padding-bottom: 42px;
        }
        &--content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 39px;
        }
        &--manager {
            border-bottom: 1px solid #f0f4fb;
            margin-bottom: 0px;
            padding-bottom: 27px;
        }
    }
    &__head {
        font-size: 24px;
        color: #244873;
        text-transform: uppercase;
        &--custom {
            margin-bottom: 18px;
        }
        &--title-manager {
            text-align: center;
            padding: 0px 87px;
        }
    }
    &__subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 150%;
        color: #244873;
        text-transform: none;
        margin-top: 8px;
        &--glossari {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 150%;
            color: #244873;
            text-transform: none;
            margin-top: 8px;
            padding: 0px 147px;
            text-align: center;
        }
    }
    &__overhead {
        display: flex;
        font-size: 12px;
        color: #244873;
        margin-bottom: 17px;
        text-transform: uppercase;
        &--custom {
            margin-bottom: 48px;
        }
    }
    &__info {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        color: #244873;
        padding: 0px 126px;
        &--custom {
            margin-bottom: 17px;
        }
    }
}

.contents {
    grid-column: 1/10;
    background: white;
    margin-top: -67px;
    padding-bottom: 47px;
    border-bottom: 1px solid #f0f4fb;
    &__custom {
        padding-bottom: 0px;
        background: none;
        border-bottom: none;
        &--news {
            padding-bottom: 22px;
        }
        &--news-det {
            margin-top: -13px;
            background: white;
        }
        &--ed {
            padding-bottom: 0px;
        }
    }
}

.borders {
    border-left: 1px solid #f0f4fb;
}