.prof-name__item,
.prof-info__item {
  padding: 20px 0px; }

.prof-name__item {
  font-family: Noto Sans Display;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-transform: uppercase;
  color: #244873; }
