.social {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #244873;
    padding-bottom: 58px;
    &__content {
        background: white;
        display: flex;
        grid-column: 1/10;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

.content-left {
    padding: 12px 207px 9px 131px;
}

.soc {
    &__list {
        display: flex;
    }
    &__item {
        margin-left: 7.5px;
        &:first-child {
            margin-left: 0px;
        }
    }
}