.social {
    grid-column: 1/10;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #244873;
    padding-bottom: 58px;
    &__content {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/10;
        width: 100%;
    }
}

.social-title {
    &__head {
        margin-left: 50px;
    }
}

.content-left,
.content-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.soc {
    &__list {
        display: flex;
    }
    &__item {
        margin-left: 7.5px;
        &:first-child {
            margin-left: 0px;
        }
    }
}